<a href="https://colab.research.google.com/github/Yazhini35/ARTIFICIAL-INTELLIGENCE/blob/main/Untitled18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Sample DataFrame
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': ['apple', 'banana', 'cherry', 'date', 'elderberry']}

df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)

# Replace arbitrary values with other values
replacement_dict = {'B': {7: 77, 9: 99}, 'C': {'banana': 'orange', 'date': 'fig'}}
df.replace(replacement_dict, inplace=True)

# Display modified DataFrame
print("\nDataFrame after replacement:")
print(df)

Original DataFrame:
   A   B           C
0  1   6       apple
1  2   7      banana
2  3   8      cherry
3  4   9        date
4  5  10  elderberry

DataFrame after replacement:
   A   B           C
0  1   6       apple
1  2  77      orange
2  3   8      cherry
3  4  99         fig
4  5  10  elderberry

In [2]:
import pandas as pd

# Sample DataFrame
data = {'A': [1, 2, 3, 4, 5],
        'B': [6, 7, 8, 9, 10],
        'C': ['apple', 'banana', 'cherry', 'date', 'elderberry']}

df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)

# Define replacement mappings
replacement_dict = {'B': {7: 77, 9: 99}, 'C': {'banana': 'orange', 'date': 'fig'}}

# Replace more than one value with other values
for column, mappings in replacement_dict.items():
    df[column].replace(mappings, inplace=True)

# Display modified DataFrame
print("\nDataFrame after replacement:")
print(df)

Original DataFrame:
   A   B           C
0  1   6       apple
1  2   7      banana
2  3   8      cherry
3  4   9        date
4  5  10  elderberry

DataFrame after replacement:
   A   B           C
0  1   6       apple
1  2  77      orange
2  3   8      cherry
3  4  99         fig
4  5  10  elderberry

In [3]:
import pandas as pd

# Sample DataFrame with a column containing strings
data = {'Name': ['John Doe', 'Jane Smith', 'Alice Johnson'],
        'Age_Location': ['30_New York', '25_Los Angeles', '35_Chicago']}

df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)

# Split the 'Age_Location' column into two separate columns
df[['Age', 'Location']] = df['Age_Location'].str.split('_', expand=True)

# Drop the original 'Age_Location' column
df.drop(columns=['Age_Location'], inplace=True)

# Display modified DataFrame
print("\nDataFrame after splitting:")
print(df)

Original DataFrame:
            Name    Age_Location
0       John Doe     30_New York
1     Jane Smith  25_Los Angeles
2  Alice Johnson      35_Chicago

DataFrame after splitting:
            Name Age     Location
0       John Doe  30     New York
1     Jane Smith  25  Los Angeles
2  Alice Johnson  35      Chicago

In [4]:
import pandas as pd
import re

# Sample DataFrame with a column containing strings
data = {'Text': ['Send an email to john@example.com for inquiries',
                 'For more information, contact info@example.com',
                 'Email support@company.com for assistance']}

df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)

# Define a function to extract email addresses using regex
def extract_email(text):
    email_regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'
    return re.findall(email_regex, text)

# Extract email addresses from the 'Text' column
df['Email'] = df['Text'].apply(lambda x: extract_email(x))

# Display DataFrame with extracted email addresses
print("\nDataFrame with extracted emails:")
print(df)

Original DataFrame:
                                              Text
0  Send an email to john@example.com for inquiries
1   For more information, contact info@example.com
2         Email support@company.com for assistance

DataFrame with extracted emails:
                                              Text                  Email
0  Send an email to john@example.com for inquiries     [john@example.com]
1   For more information, contact info@example.com     [info@example.com]
2         Email support@company.com for assistance  [support@company.com]

In [5]:
import pandas as pd
import re

# Sample DataFrame with a column containing Twitter text
data = {'Tweet': ['Great weather today! #sunny #happy',
                  'Excited for the weekend! #weekendvibes',
                  'New recipe coming up! #cooking']}

df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)

# Define a function to extract hashtags using regex
def extract_hashtags(text):
    hashtag_regex = r'\B#\w*[a-zA-Z]+\w*'
    return re.findall(hashtag_regex, text)

# Extract hashtags from the 'Tweet' column
df['Hashtags'] = df['Tweet'].apply(lambda x: extract_hashtags(x))

# Display DataFrame with extracted hashtags
print("\nDataFrame with extracted hashtags:")
print(df)

Original DataFrame:
                                    Tweet
0      Great weather today! #sunny #happy
1  Excited for the weekend! #weekendvibes
2          New recipe coming up! #cooking

DataFrame with extracted hashtags:
                                    Tweet          Hashtags
0      Great weather today! #sunny #happy  [#sunny, #happy]
1  Excited for the weekend! #weekendvibes   [#weekendvibes]
2          New recipe coming up! #cooking        [#cooking]

In [6]:
import pandas as pd
import re

# Sample DataFrame with a column containing Twitter text
data = {'Tweet': ['Great weather today! #sunny #happy',
                  'Excited for the weekend! #weekendvibes',
                  'New recipe coming up! #cooking']}

df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)

# Define a function to extract hashtags using regex
def extract_hashtags(text):
    hashtag_regex = r'\B#\w*[a-zA-Z]+\w*'
    return re.findall(hashtag_regex, text)

# Extract hashtags from the 'Tweet' column
df['Hashtags'] = df['Tweet'].apply(lambda x: extract_hashtags(x))

# Display DataFrame with extracted hashtags
print("\nDataFrame with extracted hashtags:")
print(df)

Original DataFrame:
                                    Tweet
0      Great weather today! #sunny #happy
1  Excited for the weekend! #weekendvibes
2          New recipe coming up! #cooking

DataFrame with extracted hashtags:
                                    Tweet          Hashtags
0      Great weather today! #sunny #happy  [#sunny, #happy]
1  Excited for the weekend! #weekendvibes   [#weekendvibes]
2          New recipe coming up! #cooking        [#cooking]

In [7]:
import pandas as pd
import re

# Sample DataFrame with a column containing mixed data
data = {'Text': ['There are 10 apples', 'I have 20 oranges', 'She bought 5 bananas']}

df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)

# Define a function to extract numbers using regex
def extract_numbers(text):
    numbers = re.findall(r'\d+', text)
    return ','.join(numbers) if numbers else None

# Extract numbers from the 'Text' column
df['Numbers'] = df['Text'].apply(extract_numbers)

# Display DataFrame with extracted numbers
print("\nDataFrame with extracted numbers:")
print(df)

Original DataFrame:
                   Text
0   There are 10 apples
1     I have 20 oranges
2  She bought 5 bananas

DataFrame with extracted numbers:
                   Text Numbers
0   There are 10 apples      10
1     I have 20 oranges      20
2  She bought 5 bananas       5

In [8]:
import pandas as pd
import re

# Sample DataFrame with a column containing mixed data
data = {'Text': ['Call me at 123-456-7890', 'My number is (987) 654-3210', 'Contact us: +1 (555) 123-4567']}

df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)

# Define a function to extract phone numbers using regex
def extract_phone_numbers(text):
    phone_numbers = re.findall(r'\b\d{3}[-.\s]?\d{3}[-.\s]?\d{4}\b', text)
    return ','.join(phone_numbers) if phone_numbers else None

# Extract phone numbers from the 'Text' column
df['Phone Numbers'] = df['Text'].apply(extract_phone_numbers)

# Display DataFrame with extracted phone numbers
print("\nDataFrame with extracted phone numbers:")
print(df)

Original DataFrame:
                            Text
0        Call me at 123-456-7890
1    My number is (987) 654-3210
2  Contact us: +1 (555) 123-4567

DataFrame with extracted phone numbers:
                            Text Phone Numbers
0        Call me at 123-456-7890  123-456-7890
1    My number is (987) 654-3210          None
2  Contact us: +1 (555) 123-4567          None

In [9]:
import pandas as pd
import re

# Sample DataFrame with a column containing text data
data = {'Text': ['The year 1750 was historic', 'In 2000, we saw technological advancements',
                 'Plans are set for the year 2100', 'The event took place in 1805']}

df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)

# Define a function to extract years between 1800 and 2200 using regex
def extract_years(text):
    years = re.findall(r'\b(18\d{2}|19\d{2}|20\d{2}|21\d{2})\b', text)
    filtered_years = [year for year in years if 1800 <= int(year) <= 2200]
    return ','.join(filtered_years) if filtered_years else None

# Extract years between 1800 and 2200 from the 'Text' column
df['Years'] = df['Text'].apply(extract_years)

# Display DataFrame with extracted years
print("\nDataFrame with extracted years between 1800 and 2200:")
print(df)

Original DataFrame:
                                         Text
0                  The year 1750 was historic
1  In 2000, we saw technological advancements
2             Plans are set for the year 2100
3                The event took place in 1805

DataFrame with extracted years between 1800 and 2200:
                                         Text Years
0                  The year 1750 was historic  None
1  In 2000, we saw technological advancements  2000
2             Plans are set for the year 2100  2100
3                The event took place in 1805  1805

In [10]:
import pandas as pd
import re

# Sample DataFrame with a column containing text data
data = {'Text': ['Hello! How are you?', 'I have $100 in my pocket.', 'This is #Pandas program!']}

df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)

# Define a function to extract non-alphanumeric characters using regex
def extract_non_alphanumeric(text):
    non_alphanumeric = re.findall(r'[^a-zA-Z0-9\s]+', text)
    return ''.join(non_alphanumeric) if non_alphanumeric else None

# Extract non-alphanumeric characters from the 'Text' column
df['Non-Alphanumeric'] = df['Text'].apply(extract_non_alphanumeric)

# Display DataFrame with extracted non-alphanumeric characters
print("\nDataFrame with extracted non-alphanumeric characters:")
print(df)

Original DataFrame:
                        Text
0        Hello! How are you?
1  I have $100 in my pocket.
2   This is #Pandas program!

DataFrame with extracted non-alphanumeric characters:
                        Text Non-Alphanumeric
0        Hello! How are you?               !?
1  I have $100 in my pocket.               $.
2   This is #Pandas program!               #!